    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 social text-center">
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/pnwscala"><i class="fa fa-twitter-square"></i></a>
                <a href="http://www.youtube.com/playlist?list=PLZzBLqtaWWlie50nc_WoGWSw5ZMTpr8pY"><i class="fa fa-youtube"></i></a>
                <a href="mailto:info@pnwscala.org"><i class="fa fa-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <span>All rights reserved</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- ///  end footer  /// -->

    <!-- ///  start script  /// -->
    <!-- ///  libs  /// -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ site.assets_basedir }}/assets/js/libs/modernizr-latest.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/libs/jquery-1.11.0.min.js"></script>
    <script src="{{ site.assets_basedir }}/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <!-- ///  plugins  /// -->
    <script src="{{ site.assets_basedir }}/assets/js/plugins/fitvids/jquery.fitvids.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/select/bootstrap-select.min.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/gmap3/gmap3.min.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/scrollTo/jquery.scrollTo.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/nav/jquery.nav.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/countdown/countdown.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/placeholder/jquery.placeholder.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/validator/jquery.form-validator.min.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/plugins/wow/wow.min.js"></script>
    <script src="{{ site.assets_basedir }}/assets/js/main.js"></script>
    <script src='https://ti.to/pnwscala/2014.js?version=3' type='text/javascript'></script>
