    <!-- /// begin registration /// -->
    <div class="registration" id="registration">
      <div class="container">
        <div class="row">
          <div class="section-heading">
            <h1>Registration</h1>

            <div id='tito-register-form'></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /// end registration /// -->


    <!-- ///  begin faq  /// -->
    <!--
    <div class="faq" id="cfp">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">

            <h1>Call for Proposals</h1>
            <p class="lead">The Pacific Northwest Scala Conference will be taking place this year in Portland, Oregon on {{ site.data.2016.event.event_month_day_long }}. We look forward to engaging with Scala users and those interested in learning more about Scala, from the Pacific Northwest and beyond. We will be hosting a two-day event with two days of single-track talks. If you have a topic you’re passionate about – perhaps an area of interest in which you've become your company's or user-group's resident expert – or a new approach you'd like to share, we encourage you to submit a proposal for a talk.</p>

            <p class="cfp">We strongly encourage anyone from typically under-represented groups to submit proposals. We want to promote diversity in this community and we guarantee that all submissions will be given equal consideration.</p>

            <p class="cfp">Also, we’ll be including the option to submit talks as either a typical presentation length (40 minutes, including time for Q&amp;A) or as longer, workshop-style presentations that can be more hands-on or go more in-depth into areas of deeper interest. If your talk might fit into either category, please let us know on the submission form.</p>

            <p class="cfp">Areas of interest that talks might cover include (but are certainly not limited to):
            <ul class="cfp">
              <li>Case studies & experience reports</li>
              <li>Interesting patterns & designs</li>
              <li>Reliability & fault-tolerance</li>
              <li>Concurrency & distributed systems</li>
              <li>Data management & large-scale data</li>
              <li>Tools & techniques</li>
              <li>Domain-Specific Languages</li>
              <li>Functional programming</li>
              <li>Migrating to Scala from other languages</li>
              <li>Beginner focused topics</li>
            </ul>
            </p>

            <p class="cfp">If you would like to give a talk at PNWScala {{ site.data.2016.event.event_year }}, please submit your information using this form. Submissions are due by {{ site.data.2016.event.cfp_submit_deadline }} and we will be selecting talks by {{ site.data.2016.event.cfp_selection_deadline }} at the latest. Please note that if your talk is accepted, you will be given free admittance (normally ${{ site.data.2016.event.event_price }}) to the conference. You may want to go ahead and register before we make selections (registration will be online very soon), in order to guarantee a spot. We’ll refund your fees if your talk is selected.</p>

            <p class="cfp"><a href="https://docs.google.com/forms/d/1a6RcHXRNz8rmFRST4s_du8tZOMD5IxTh4ywQG0BlL_c/viewform?usp=send_form">Submit your proposal here.</a></p>

          </div>
        </div>
      </div>
    </div>
-->
    <!-- ///  end faq  /// -->





    <!-- ///  begin map, subscribe, contacts  /// -->
    <!-- ///  set your venue address in data-location attribute  /// -->
    <div class="map" id="ourLocation" data-location="101 North Weidler Street,
Portland, OR">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 map-container" id="map">
          </div>
        </div>
      </div>
      <div class="location wow flipInY">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="popover bottom">
                <div class="arrow"></div>
                <h2 class="popover-title">Location</h2>
                <div class="popover-content">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="street-view" id="streetView"></div>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker info-color"></i>101 North Weidler Street,
                          Portland, OR</li>
                        <li><i class="fa fa-envelope info-color"></i>info@pnwscala.org</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ///  end map, subscribe, contacts  /// -->

    <!-- /// begin code of conduct /// -->
    <div class="wow fadeInUp" id="conduct">
      <div class="container">
        <div class="section-heading">
          <h2>Code of Conduct</h2>

          <h3>The Short Version</h3>

          <p>PNWScala is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. </p>

          <p>All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language, innuendo, and imagery is not appropriate for any conference venue, including talks.</p>

          <p>Conference participants violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.</p>


          <h3>The Long Version</h3>

          <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion; sexual images in public spaces; deliberate intimidation; stalking, following, harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention. </p>

          <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

          <p>Sponsors and other exhibitors are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>

          <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

          <p>We expect participants to follow these rules at all conference venues and conference-related social events</p>

          <h3>Contact Information</h3>

          <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the conference staff immediately.</p>

          <p>For any questions or concerns, please email the organizers at <a href="mailto:info@pnwscala.org">info@pnwscala.org</a>.  Phone number contacts for organizers and law enforcement will be available on this page during the event.</p>

          <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

         <h3>License</h3>
          <p>This Code of Conduct was derived from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a> and the <span href="http://purl.org/dc/dcmitype/Text" rel="dct:type">Conference Code of Conduct</span> by <a href="https://us.pycon.org/2013/about/code-of-conduct/" rel="cc:attributionURL">https://us.pycon.org/2013/about/code-of-conduct/</a> and  is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported License</a>.</p>
<p><a href="http://creativecommons.org/licenses/by/3.0/" rel="license"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt="Creative Commons License" style="border-width: 0;"/></a></p>
        </div>
      </div>
    </div>
    <!-- /// end code of conduct /// -->
