    <div class="promo" id="home" style="background-image:url(../assets/img/portland_at_night.jpg);">
      <!-- ///  semitransparent layer  /// -->
      <div class="color-correction"></div>
      <!-- ///  begin entry  /// -->
      <div class="container">
        <div class="row">
          <!-- ///  begin text section  /// -->
          <div class="col-md-6 wow fadeInDown" data-wow-duration="2s">
            <div class="promo-text">
              <img id="mainlogo" src="../assets/img/pnwscala_logo2.png" style="float:left; padding-right: 1em;"/>
              <h1><i class="fa fa-signal success-color"></i> PNWScala <b>{{ site.data.2016.event.event_year }}</b></h1>
              <hr>
              <p class="lead">Join other Scala fans and practitioners in Portland, Oregon for 2 days of enlightening talks.</p>
              <p>The Pacific Northwest Scala Conference is a regional event focusing on a wide range of Scala-related topics, and will bring together Scala enthusiasts from the Pacfic Northwest and far beyond.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- ///  end entry  /// -->
    </div>
